################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThinkPad-Utility-Management.slnx/FileContentIndex/46715684-5a23-4a4f-bb2e-ca98370a89ec.vsidx
/.vs/ThinkPad-Utility-Management.slnx/FileContentIndex/d20e4c6a-8bd1-45b6-8854-15438f006b33.vsidx
/.vs/ThinkPad-Utility-Management.slnx/FileContentIndex/5c0632d0-6649-44c4-bfb3-a00f21f26147.vsidx
/.vs/ThinkPad-Utility-Management.slnx/FileContentIndex/2b2c8478-c5b1-4e5f-b9b5-58bb80a1586f.vsidx
/.vs/ThinkPad-Utility-Management.slnx/FileContentIndex/d59324a6-c38a-4250-8929-805c5ab44a52.vsidx
/.vs/ThinkPad-Utility-Management.slnx/FileContentIndex
